body {
	font-family: "Noto Sans JP", sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	background-image: url("../images/nightsky.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
text-align: center;
text-decoration-line: underline;
text-decoration-style: solid;
text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
font-size: 40px;
font-weight: 777;
}

#intro {
	outline-style: double;
	text-align: left;
	padding: 5px;
	margin: 5px;
	max-width: 100%;
	
}

p {

}

ul {
list-style-type: upper-roman;
list-style-position: inside;
margin: 0;
padding: 0;
}

ul li {

}



td, th {
	border: 1px solid;
  }

img {
	max-width: 100%;
	height: auto;
}  