body {
	font-family: "Noto Sans JP", sans-serif;
	color: #A5F3FC;
	font-size: 16px;
	background-image: url("../images/nightsky.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
}

h1 {
	text-align: center;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
	font-size: 40px;
	font-weight: 968;
}

#intro {
	font-weight: 555;
	outline-style: double;
	outline-width: 4px;
	text-align: left;
	padding: 5px;
	margin: 5px;
	max-width: 100%;
	
}

ul {
	list-style-type: upper-roman;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

ul li {
	font-weight: 813;
	font-style: italic;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

th {
	font-weight: 888;
}

td {
	font-style: italic;
	font-style: 360;

}
td, th {
	text-decoration-line: underline;
	text-decoration-style: solid;
	border: 2px solid;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

#planets {
	border: 2px solid;
	text-align: center;
	font-weight: 888;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

footer {
	color: black;
	text-align: center;
	padding: 3px;
	background-color: #E2E8F0;
}